// GOOGLE FONT-FAMILY: SPACE MONO
@import url(https://fonts.googleapis.com/css?family=Space+Mono:700);

// Variáveis
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-color: $light-grayish-cyan;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  main {
    width: 375px;

    background-color: $white;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 24px;

    #input-value {
      width: 85%;
      display: flex;
      flex-direction: column;
      label {
        margin-top: 15px;

        font-size: 18px;
      }

      input {
        height: 30px;

        padding: 20px;
        text-align: right;

        background-color: $very-light-grayish-cyan;
        background-image: url(/assets/img/icon-dollar.svg);
        background-repeat: no-repeat;
        background-position: 4%;

        border: none;
        border-radius: 5px;
        outline: none;
      }
    }
  }
}
