// GOOGLE FONT-FAMILY: SPACE MONO
@import url(https://fonts.googleapis.com/css?family=Space+Mono:700);

// Variáveis
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-color: $light-grayish-cyan;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  color: $very-dark-cyan;

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  header {
    margin: 200px 0 15px 0;
  }
  main {
    width: 375px;

    background-color: $white;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 24px;

    #input-value {
      width: 85%;
      display: flex;
      flex-direction: column;
      label {
        margin-top: 15px;

        font-size: 24px;
      }

      input {
        height: 40px;

        padding: 20px;

        font-family: "Space Mono", sans-serif;
        font-size: 24px;
        color: $very-dark-cyan;
        text-align: right;

        background-color: $very-light-grayish-cyan;
        background-image: url(/assets/img/icon-dollar.svg);
        background-repeat: no-repeat;
        background-position: 4%;

        border: none;
        border-radius: 5px;
        outline: none;
      }
    }
    #tip-select {
      display: flex;
      flex-direction: column;

      width: 85%;
      p {
        font-size: 24px;
        margin-top: 15px;
      }
      div {
        height: fit-content;

        margin-top: 15px;

        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;

        .btn {
          width: 150px;
          height: 50px;

          background-color: $very-dark-cyan;

          font-size: 24px;
          font-family: "Space Mono", sans-serif;
          color: $white;

          border: none;
          border-radius: 7px;

          cursor: pointer;

          transition: 0.3s ease-in-out;
        }
        .btn:hover {
          background-color: $strong-cyan;
          color: $very-dark-cyan;
        }
        input {
          width: 150px;
          height: 50px;

          padding: 20px;

          background-color: $very-light-grayish-cyan;

          font-family: "Space Mono", sans-serif;
          font-size: 24px;
          text-align: right;

          border: none;
          border-radius: 7px;
          outline: none;
        }
      }
    }
    #people-value {
      width: 85%;

      display: flex;
      flex-direction: column;

      margin-top: 15px;
      input {
        height: 40px;

        padding: 20px;

        font-family: "Space Mono", sans-serif;
        font-size: 24px;
        color: $very-dark-cyan;
        text-align: right;

        background-color: $very-light-grayish-cyan;
        background-image: url(/assets/img/icon-person.svg);
        background-repeat: no-repeat;
        background-position: 4%;

        border: none;
        border-radius: 5px;
        outline: none;
      }
    }
    #amount-result {
      width: 85%;

      display: flex;
      flex-direction: column;

      margin: 15px 0;
      padding: 15px;

      background-color: $very-dark-cyan;

      border: none;
      border-radius: 12px;
      p:nth-child(1),
      p:nth-child(3) {
        color: $white;
      }
      p:nth-child(2),
      p:nth-child(4) {
        color: $grayish-cyan;
        font-size: 16px;
      }
      section {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 18px;

        margin-top: -115px;
      }
      section div {
        width: 50px;
        height: 50px;
      }
      button {
        width: 100%;
        height: 50px;

        margin-top: 15px;

        background-color: $strong-cyan;

        font-family: "Space Mono", sans-serif;
        font-size: 24px;
        color: $very-dark-cyan;
        text-transform: uppercase;

        border: none;
        border-radius: 7px;

        cursor: pointer;
      }
    }
  }
  footer {
    margin-top: 15px;
    a {
      text-decoration: none;
      color: $grayish-cyan;
      transition: 0.3s ease-in-out;
    }
    a:hover {
      color: $strong-cyan;
    }
  }
}
